    <!-- About Section -->
    <section id="about" class="container content-section text-center">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2">
              <br/><br/>
              <h2>เกี่ยวกับเรา</h2>
              <br/>
                <p>เด็กไทยหลายพันคนที่เติบโตมาในบ้านเด็กโดยไม่มีพ่อแม่ พวกเขาต้องเผชิญกับอนาคตที่ไม่มีประวัติหรือไม่มีสิ่งหนึ่งสิ่งใดที่สำคัญที่อาจเปลี่ยนแปลงชีวิตของพวกเขาให้ดีขึ้นได้ <a href="https://www.youtube.com/watch?v=aOd4qPDGy3g">วีดีโอเพิ่มเติม</a></p>
                <p>Digiserve ได้พัฒนาระบบ Child at Risk System (CARs) ซึ่งเป็นเทคโนโลยีคลาวด์ (Cloud computing technology) เพื่อใช้เป็นคลังข้อมูลของเด็กทั้งหมดตลอดช่วงเวลาที่อยู่ในบ้านเด็ก สามารถนำระบบ ดังกล่าวไปใช้แทนกระดาษสำหรับบันทึกข้อมูลต่างๆของเด็ก ซึ่่งข้อมูลที่อยู่ในรูปแบบกระดาษอาจสูญหายได้ ส่งผลกระทบต่อเด็ก ทำให้เด็กเสียโอกาสอันพึงจะได้รับ</p>
                <p>โดยระบบดังกล่าวยังรวมไปถึงระบบตรวจสอบสุขภาพที่คอยติดตามข้อมูลล่าสุดเกี่ยวกับความสมบูรณ์ของร่างกาย สังคม และจิตใจของเด็ก ซึ่งนักสังคมสงเคราะห์ เจ้าหน้าที่ พนักงาน พ่อแม่อุปถัมภ์ ทุกคนจะได้รับข้อมูลที่ถูกต้องและทันเวลา (Real-time) ของเด็กแต่ละคน เพื่อให้พวกเขาสามารถทำงานร่วมกันได้ ทำให้แน่ใจว่าเด็กมีสภาพแวดล้อมและโอกาสที่ดีที่สุดในการเปลี่ยนแปลงชีวิตให้ดียิ่งขึ้น</p>
                <br/>
              </div>
        </div>
    </section>
